.outermost_div {
  background-color: aliceblue;
  padding: 0px !important;
  height: 100vh;
}
/* Chat Pane */
#chatpane-input {
  margin-top: 1em;
}
#chat-message {
  padding: 0px;
  border: none;
  padding-left: 1em;
  margin-top: 0.75em;
}
#chat-message-p {
  margin: 0px;
}
#chat-message-span {
  position: relative;
  top: -10px;
  margin-top: 0px;
  font-size: 0.7em;
  color: lightslategray;
}
#chat-message-i {
  margin-left: 0.5em;
}
#invisible-hr {
  visibility: hidden;
}
.list-group-item {
  background-color: aliceblue !important;
}
/* Chat Pane */
/* BlackJack Pane */
#startBtn,
#hitBtn,
#stayBtn {
  margin-right: 0.5em;
}
#cardPane {
  border: none;
  display: inline-block;
  padding: 0px;
  margin: 0px 5px 0px 0px;
}
.cardPaneOpps,
.cardOpps {
  width: 60px;
}
#yourHand,
#dealerHand {
  list-style: none;
}
#board {
  width: 50em;
}
/* BlackJack Pane */
/* Users */
.users-list-item {
  border: none !important;
}
.opponents_ul {
  list-style-type: none;
}
/* Users */
/* Nav */
.login-link {
  float: right;
  color: white;
}
.navbar {
  margin-bottom: 10px;
}
/* Nav */
/* NEW GAME */
.new-line {
  margin-top: 0px;
  padding-top: 0px;
  position: relative;
  top: -5px;
}
/* NEW GAME */
